<h1 class="text-center"><%= @cocktail.name %>   </h1>
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 ">


      <h2>Ingredients  <%= link_to "Add", new_cocktail_dose_path(@cocktail) , class: "btn btn-primary"%> </h2>
      <br>
<ul>
      <% @cocktail.doses.each do |r| %>
      <li>
      <h3> <strong> A <%= r.description %> of:  </strong> <%= r.ingredient.name %>       <%= link_to "Delete", dose_path(r), class: "btn btn-primary",
      method: :delete,
      data: { confirm: "are you sure" } %></h3>

</li>

      <% end %>
</ul>
    </div>
<div class="col-xs-12 col-sm-6 " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.seriouseats.com/images/2014/11/20141104-cocktail-party-old-fashioneds-holiday-vicky-wasik-3.jpg')">

</div>
  </div>
</div>



<h3 class="text-center">



<%= link_to "home", cocktails_path,class: "btn btn-primary" %>

</h3>

